*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: #00100B;
    color:floralwhite;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    background-color: #938274;

}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
   
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#u,#c{
    font-size: 4rem;
}
#msg{
   background-color: #00100B; 
   color: floralwhite; 
   padding:1rem;
   border-radius: 1rem;
   font-size: 2rem;
   display: inline;
}
.msg_container{
    margin-top: 3rem;
}
#restart{
    background-color:green; 
    color:#00100B; 
    padding:1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
   

}
.button{
    margin-top: 3rem;
   display: inline-block;
   transition: opacity 500ms;
   
}
.button:hover{
    cursor: pointer;
}
.button:active{
    opacity: 40% ;
    
}

